body {
  background:
    linear-gradient(179.03deg, rgba(0, 0, 0, 0.3) 3.38%, #141414 99.16%),
    url(../IMG/fundo.jpg) center 17% / cover no-repeat fixed;
  margin: 0;
  min-height: 100vh;
  font-family: 'Poppins', sans-serif;
  color: #fff;
}

/* Ícone no topo */
nav.icon {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 20px 40px;
  height: 100px;
}

nav.icon img {
  width: 195px;
  height: 40px;
  object-fit: contain;
}

nav.infoTextPG1 {
  position: absolute;
  top: auto;          /* remove a posição fixa */
  left: 317px;
  margin-top: 600px;  /* empurra para baixo */
  height: 236px;
  opacity: 1;
}

/* Regras gerais */
section {
  display: flex;
  justify-content: center;
  margin-top: 300px;
}

/* Imagem da primeira seção */
.infoTextPG1 img {
  height: 236px;
  object-fit: contain;
}

/* Imagem da segunda seção */
.infoTextPG2, .elion, .infoTextPG3 img {
  height: 180px; /* Exemplo — cada uma pode ter seu próprio valor */
  object-fit: contain;
}

/* Imagem da terceira seção */
.cardsInfo img {
  height: 220px;
  object-fit: contain;
  margin: 10px;

}

/* Imagem da terceira seção */
section.IconPG2 {
  display: flex;
  justify-content: center;
  margin-top: 300px; /* segue sua lógica atual */
}

section.IconPG2 img {
  width: 100%;
  height: auto;
  object-fit: contain;
  opacity: 1;
}
/* Imagem da terceira seção */
section.menu {
  height: 200vh; /* Exemplo — cada uma pode ter seu próprio valor */
  object-fit: contain;
}
/* Imagem da terceira seção */
section.menu2 {
  height: 150vh; /* Exemplo — cada uma pode ter seu próprio valor */
  object-fit: contain;
  margin-top:25px ;

}

section.cardsInfo2 {
  height: 100%; /* Exemplo — cada uma pode ter seu próprio valor */
  object-fit: contain;
}

section.group {
  height: 90vh; /* Exemplo — cada uma pode ter seu próprio valor */
  object-fit: contain;
}
section.frame {
  height: 80vh; /* Exemplo — cada uma pode ter seu próprio valor */
  object-fit: contain;
}
section.frame img{
  height: 70%;
}

.gap{
  width: 1px;

}

